<!DOCTYPE html>
<html>
<head>
  <title>Ruas de Fogo | Maior e melhor torcida do Rio Grande do Sul</title>
	<link rel="shortcut icon" href="ruasdefogo.ico">
	<meta charset="utf-8">
	<link href="stylesheets/themes/ui-darkness/jquery-ui-1.8.12.custom.css" rel="stylesheet" media="screen">
	<link href="stylesheets/themes/jquery.videobackground.css" rel="stylesheet" media="screen">
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28175639-1']);
  _gaq.push(['_setDomainName', 'ruasdefogo.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
		<style>
			/*
			 * Page specific styling.
			 *
			 */
			body {
				margin: 0;
				font-family: arial, helvetica, sans-serif;
			}
			a {
				color: #FFF;
			}
			h2 {
				font-size: 20px;
				font-weight: normal;
			}
			li {
				list-style: none;
			}
			dl {

			}
			dt {
				float: left;
				width: 160px;
			}
			dd {
				margin: 0 0 10px 160px;
			}
			/*
			 * If developing a full page background the styles from .video-background will be required.
			 * The classname itself is unimportant.
			 *
			 */
			.video-background {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
				width: 110%;
				height: 110%;
				z-index: 0;
			}
			.video-background video {
				min-height: 100%; 
				min-width:100%; 
			}
			#page {
				position: relative; 
				z-index: 1;
				width: 800px;
				color: #FFF;
				background: transparent url(stylesheets/themes/background.png) repeat top left;
				border-radius: 10px;
				margin: 0 auto;
			}
			#main {
				padding: 20px;
				margin: 10px 0;
			}
		</style>
		<script src="external/jquery.js"></script>
		<script src="script/jquery.videobackground.js"></script>
		<script>
			$(document).ready(function() {
				$('dl').toggle();
				$('h2').bind('click', function(event) {
					event.preventDefault();
					$(this).next('dl').slideToggle(500, function() {
						$('.video-background').videobackground('resize');
					});
				});
				$('body').prepend('<div class="video-background"></div>');
				$('.video-background').videobackground({
					videoSource: ['video/ruasdefogo.mp4',
					'video/ruasdefogo.webm', 
						'video/ruasdefogo.ogv'], 
					controlPosition: '#main',
					poster: 'video/ruasdefogo.jpg',
					loadedCallback: function() {
						$(this).videobackground('on', {controlPosition: '#main'});
					}
				});
			});
		</script>
    </head>
    <body>	
		<div id="page">
			<div id="page-group">
				<div id="header" class="header" role="banner" >
					
				</div>
				<div id="content">
					<div id="main" role="main">
						<!-- Coloque esta tag onde você deseja que o botão +1 seja renderizado -->

						<!-- Coloque esta chamada de renderização conforme necessário -->
						<script type="text/javascript">
						  window.___gcfg = {lang: 'pt-BR'};

						  (function() {
						    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						    po.src = 'https://apis.google.com/js/plusone.js';
						    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
								<g:plusone size="medium"></g:plusone>
								<div style='width:205px;float:left;margin:1px 4px 2px 3px;height:20px;'><script type="text/javascript"><!--
								urlb=window.location.href;
								document.write("<iframe src='//www.facebook.com/plugins/like.php?href="+urlb+"&amp;layout=button_count&amp;action=like&amp;font=arial' scrolling='no' frameborder='0' allowtransparency='true' style='width:90px;overflow:hidden;height:20px;'></iframe>");
								//--></script>
								<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal"  data-text="A maior e melhor torcida do Rio Grande do Sul #ruasdefogo #inter" rel="nofollow" data-via="_ruasdefogo">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
								</div>

					<img src="video/logo.png" alt="descrição_da_imagem">
				
			<div id="ruas_twitter">
				<script type="text/javascript" src="script/twitStream.js"></script>
				<script type="text/javascript">
				showTweetLinks='all';
				</script>
				<link rel="stylesheet" href="stylesheets/themes/twit-stream.css" />
				<p>Confira a lista dos últimos twitts #RuasDeFogo</p>
				<div class="twitStream 5" id="tweets" title="#RuasDeFogo"></div>
				</div>

					</div>
					<div id="aside" class="aside" role="complementary">
					</div>
				</div>
			</div>
			<div id="footer" class="footer" role="contentinfo">
				
			</div>
		</div>
<%= yield %>

</body>
</html>
